<div class="main-page-main-screen-wrapper">
    <img
            class="main-page-main-screen-image"
            src="/images/main-background.jpg"
            alt="background"
            loading="lazy"
            decoding="async"
    />
    <img
            class="main-page-main-screen-image main-page-main-screen-image_mobile"
            src="/images/main-background.jpg"
            alt="background"
            loading="lazy"
            decoding="async"
    />
    <div class="main-page-main-screen">
        <div class="main-page-main-screen__content">
            <h1 class="main-page-main-screen__title">
                NATURE
            </h1>
            <p class="main-page-main-screen__text">
                Если вы действительно любите природу, вы найдете красоту везде
            </p>
            <p class="main-page-main-screen__text">
                Винсент Ван Гог
            </p>
        </div>
    </div>
</div>