<header>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
  <div class="logo">
    <div class="circle"></div>
    <div class="line line_first"></div>
    <div class="line line_second"></div>
    <div class="line line_third"></div>
    <div class="line line_fourth"></div>
  </div>
  <div class="desktop-menu">
    <nav>
      <ul class="menu">
        <li><a href="main">Главная</a></li>
        <li><a href="homeworks">Домашние работы</a></li>
        <li><a href="main">Курсовая работа</a></li>
      </ul>
    </nav>
  </div>
  <div class="mobile-menu">
    <div class="hamburger" onclick="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <nav class="menu-hamburger">
      <ul>
        <li><a href="main">Главная</a></li>
        <li><a href="homeworks">Домашние работы</a></li>
        <li><a href="main">Курсовая работа</a></li>
      </ul>
    </nav>
  </div>
</header>
